<template name="postsList">
    <div class="posts">
        {{#each posts}}
         {{> postItem}}
        {{/each}}
    </div>
    <!-- <div>
        <select id="sel">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
        </select>
    </div> -->
</template>
<!-- 
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>SAmple</title>
        <script>
        function x(){
            document.getElementById('w').innerHTML = 'HELLO HYCE';
        }
        </script>
    </head>
    <body>
        <p id='w'>hello world</p>
        <button onclick="x()">click here</button>



        <button onclick="document.getElementById('sample').src='lighton.jpg'">On</button>

        <button onclick="document.getElementById('samp').src='lightoff.jpg'">off</button>

        <img scr="lightoff" alt="bulb" style="width:100px"> 

    
    </body>
</html>  -->


